* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo h1 {
	width: 100%;
	padding: 15px 0;
    font-size: 35px;
    font-family: poppins;
    color: #fff;
}
.logo h1 span {
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    font-family: poppins;
}
.pavillon {
	position: absolute;
	width: 850px;
	height: 300px;
	text-align: center;
	margin-top: 90px;
	margin-left: 250px;
}
.pavillon h1 {
	text-align: center;
	color: #00fecb;
	text-transform: uppercase;
	font-size: 50px;
}
.projet1{
	position: absolute;
	width: 850px;
	height: 300px;
	text-align: center;
	margin-top: 240px;
	margin-left: 250px;
	margin-right: 200px;
}
.projet1 h5{
	text-align: left;
	color: #46fad6;
	text-transform: uppercase;
	font-size: 25px;
}
.projet1 p{
	text-align: left;
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
}
.conception{
	position: absolute;
	width: 850px;
	height: 300px;
	text-align: center;
	margin-top: 350px;
	margin-left: 250px;
	margin-right: 200px;
}
.conception h5{
	text-align: left;
	color: #46fad6;
	text-transform: uppercase;
	font-size: 25px;
}
.conception p{
	text-align: left;
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
}
.yes{
	position: absolute;
	width: 850px;
	height: 300px;
	text-align: center;
	margin-top: 850px;
	margin-left: 250px;
	margin-right: 200px;
}
.yes h5{
	text-align: left;
	color: #46fad6;
	text-transform: uppercase;
	font-size: 25px;
}
.yes p{
	text-align: left;
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
}
.plan1 {
	list-style: none;
	width: 850px;
	height: 500px;
	display: inline-block;
	border-radius: 1px;
	margin-left: 250px;
	margin-right: 200px;
	margin-top: 1270px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Salle\ de\ spectacle/Plan1.png);
	background-position: center;
	background-size: cover;
}
.plan2 {
	list-style: none;
	width: 850px;
	height: 500px;
	display: inline-block;
	border-radius: 1px;
	margin-left: 250px;
	margin-right: 200px;
	margin-top: 80px;
	margin-bottom: 20px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Salle\ de\ spectacle/Plande.png);
	background-position: center;
	background-size: cover;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: 100;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}